*{
    margin: 0;
    padding: 0;
    
}

.Main-Container{
    width: 1200px;
    height: 1000px;
    background: rgb(195,34,34);
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(5,5,5,0.8716736694677871) 100%);
    margin: 0.5em auto;
    padding: 0.5em;
}

.caja1{
    display: flex;
    height: 15%;
    background: rgb(103,57,134);
    background: linear-gradient(90deg, rgba(103,57,134,1) 0%, rgba(255,0,0,1) 47%, rgba(83,17,7,1) 92%);
    border-radius: 1em;
    margin: 1em;
    text-align: center;
}
.caja2{
    height: 7.5%;
    background: rgb(103,57,134);
    background: linear-gradient(351deg, rgba(103,57,134,1) 0%, rgba(255,0,0,1) 47%, rgba(83,17,7,1) 92%);
    border-radius: 1em;
    margin: 1em;
}
.caja3{
    height: 55%;
    margin: 1em;
}

.caja4{
    height: 15%;
    background: rgb(2,0,36);
    background: linear-gradient(62deg, rgba(2,0,36,1) 0%, rgba(121,29,9,1) 15%, rgba(0,91,255,1) 95%);
    border-radius: 1em;
    margin: 1em;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98%;
    width: 70%;
    background: rgb(195,34,34);
    background: linear-gradient(189deg, rgba(195,34,34,1) 0%, rgba(5,5,5,1) 100%);
    border-radius: 1em;
    margin: 0.5em;
    float: left;
}
.aside{
    height: 98%;
    width: 27%;
    background: rgb(103,57,134);
    background: linear-gradient(62deg, rgba(103,57,134,1) 0%, rgba(255,0,0,1) 47%, rgba(83,17,7,1) 92%);
    border-radius: 1em;
    margin: 0.5em;
    float: right;
}

.article{
    width: 50%;
    height: 21%;
    background: rgb(63,86,251);
    background: radial-gradient(circle, rgba(63,86,251,0.891281512605042) 10%, rgba(255,0,52,1) 100%);
    margin: 0.5em;
    border-radius: 1em;
}